{% extends 'ProjectApp/main.html' %}

{% block content %}
<br>

<div class='row'>
    <div class=col-md-3>
        <div class='card card-body border-success'>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <label for="CourseName">CourseName:</label>
                <input type="text" id="CourseName" name="CourseName">
                <input class="btn btn-success btn-sm" type="submit" name='submit' value="Search">
            </form>
        </div>
    </div>
    <div class=col-md-4>
        <div class='card card-body border-info'>
            <h4>How to Search:</h4>
            <p>There are 2 ways to Search, using a combination of parameters. This can be ID and Program. The Program is the Department (Math, Cis, ACCT, ...). Or it can be a keyword Search in the CourseName field.</p> 
            <small>Note the Search Bar at the top is a General Search, meaning it takes in keyword</small>
                
        </div>
    </div>
</div>


{% endblock %}