{% extends 'ProjectApp/main.html' %}

{% block content %}
<div class='row-md-1'>
    <div class=col-md-12>
                <div class="card-body">
                    <h2>Query: "{{Q}}"</h2>
                    <br>
                    {% if key == 0 %}
                    <p>There are no results for <i>{{Q}}</i></p>
                    {% else %}
                    <p>There are {{key}} results for <i>{{Q}}</i></p>
                    <table class="table table-sm">
                        <tr>
                            <th>Link</th>
                            <th>Course</th>
                        </tr>
                    {% for q in output %}
                        <tr>
                            <td><a class="btn btn-info  btn-sm btn-block" href="{% url 'CoursePage' q.Program q.CourseID %}">View</a></td>
                            <td>{{q.Program}} - {{q}}</td>
                        </tr>                    
                    {% endfor %}
                    {% endif %}
                    </table>
                </div>
            </div>
    </div>
</div>

{% endblock %}
